/*FAIRE DU GENERAL AU SPECIFIQUE*/
:root {
  --rouge: #ff3553;
  --gris: #1e1e1e;
}

* {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "titre";
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "titre";
  src: url("./BebasNeue-Regular.ttf") format("truetype"); /*donner à alex la font avec la feuille de style*/
}
@font-face {
  font-family: "texte";
  src: url("./gothamnarrow_medium.otf") format("truetype"); /*donner à alex la font avec la feuille de style*/
}

.header-nav {
  background-color: black;
  position: fixed;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  min-height: 100vh;
}

main {
  display: grid;
  gap: 2rem; /* espace entre tes sections */
}

section {
  width: 100%;
  padding: 2rem 1rem; /*marges (tjrs sur mobile)*/
}

.titre {
    background: linear-gradient(90deg, #ff3553 0%, rgba(153, 32, 50, 0) 100%);
    min-width: fit-content;
}

.texte {
  font-family: "texte";
}
.bouton-principal {  
    background-color: var(--rouge);
}

.bouton-secondaire{
  background-color: var(--gris);
}

.cta-connexion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* Pour le dropdown des boutons de filtre */
.dropdown {
    position: relative; /* ← ancre le menu en dessous */
}

.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    display: none;
    position: absolute; /* ← sort du flux, se place sous le bouton */
    top: 100%;          /* ← juste en dessous du bouton */
    left: 0;
    list-style: none;
    background: var(--gris) ;
    border: 1px solid ;
    border-radius: 4px;
    min-width: 100%;
    z-index: 50;
    overflow: hidden;
}

.dropdown.open .dropdown-menu {
    display: block; /* ← affiché quand la classe .open est présente */
}

.dropdown-menu li button {
    width: 100%;
    padding: 0.6rem 1rem;
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}

.dropdown-menu li button:hover {
    background: var(--rouge);
}

/*Responsive*/

@media (min-width: 768px) {
  /*PAS DE MAX WIDTH*/
  /* Tablettes */
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  /* Ordinateurs*/
}
